@page "/courses"
@inject IJSRuntime JsRuntime
@using UniversityWeb.Repositories;

<PageTitle>Courses</PageTitle>

<div class="form-group d-flex" style="margin-top: 24px; margin-bottom: 5px; gap: 5px;">
    <input @bind="searchString" class="form-control" id="course-title" style="width: 200px;" /> <button @onclick="OnSearch">Search</button>
</div>

@if (Data == null || loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <a href="/courses/create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Title</th>
                <th scope="col">Credits</th>
                <th scope="col">Department</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Data.Courses)
            {
                <tr>
                    <td>@course.CourseNumber</td>
                    <td class="align-middle">
                        @course.Title
                    </td>
                    <td class="align-middle">
                        @course.Credits
                    </td>
                    <td class="align-middle">
                        @course.Department.Name
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-info" href="/course/@course.ID">Update</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-info" href="/courses/@course.ID">Details</a>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-danger" onclick="@(() => DeleteCourse(course.ID))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @{
            var prevDisabled = PrevDisabled() ? "disabled" : "";
            var nextDisabled = NextDisabled() ? "disabled" : "";
        }
        <button type="button"
                onclick="@(() => { --currentIndex; FetchCourses();})"
                class="btn btn-primary @prevDisabled">
            Previous
        </button>

        <button type="button"
                onclick="@(() => {++currentIndex; FetchCourses();})"
                class="btn btn-primary @nextDisabled" style="margin-left: 5px;">
            Next
        </button>

    </div>
}


@code {

    private bool loading = false;

    private string? searchString = null;

    int numberOfItems = 10;

    private int currentIndex = 1;

    private CoursePaginationData? Data { get; set; }

    public bool PrevDisabled()
    {
        return currentIndex - 1 <= 0;
    }

    public bool NextDisabled()
    {
        double pagesAvailable = (double)Data!.Count / numberOfItems;
        int pages = (int)Math.Ceiling(pagesAvailable);
        return currentIndex + 1 > pages;
    }

    public async void FetchCourses()
    {
        loading = true;
        var filter = new PaginationFilter()
            {
                CurrentIndex = currentIndex,
                PageSize = numberOfItems,
                SearchString = string.IsNullOrEmpty(searchString) ? null : searchString
            };
        Data = (CoursePaginationData)
        await CoursesRepo.GetPaginatedData(filter);
        loading = false;
        StateHasChanged();
    }

    [Inject]
    public required CoursesRepository CoursesRepo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        var filter = new PaginationFilter()
            {
                CurrentIndex = currentIndex,
                PageSize = numberOfItems
            };
        Data = (CoursePaginationData)(await CoursesRepo.GetPaginatedData(filter));
        loading = false;
    }

    private async Task DeleteCourse(string id)
    {
        try
        {
            await CoursesRepo.DeleteCourse(id);
            FetchCourses();
            await JsRuntime.InvokeVoidAsync("alert", "Deleted!");
        }
        catch (Exception)
        {
            await JsRuntime.InvokeVoidAsync("alert", "An error occured!");
        }
    }

    private void OnSearch()
    {
        currentIndex = 1;
        FetchCourses();
    }

}
